# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Build & Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache apt packages
        uses: actions/cache@v3
        id: cache-apt
        with:
          key: ${{ runner.os }}-apt
          path: ${{github.workspace}}/lib/apt-cache

      - name: Install Dependencies
        run: |
          if [[ "${{ steps.cache-apt.outputs.cache-hit }}" != "true" ]]; then
            sudo apt-get update
            mkdir -p ${{github.workspace}}/lib/apt-cache
            cd ${{github.workspace}}/lib/apt-cache
            sudo apt-get download libssl-dev libcurl4-openssl-dev
            sudo apt-get install -y libssl-dev libcurl4-openssl-dev
          else
            sudo dpkg -i ${{github.workspace}}/lib/apt-cache/*.deb || true
            sudo apt-get install -f -y
          fi

      - name: Cache AWS SDK
        id: cache-aws-sdk-cpp
        uses: actions/cache@v3
        env:
          cache-name: aws-sdk-cpp
        with:
          key: ${{runner.os}}-build-${{env.cache-name}}
          path: ${{github.workspace}}/lib/aws-sdk-cpp/install

      - name: Build AWS SDK C++
        if: ${{ steps.cache-aws-sdk-cpp.outputs.cache-hit != 'true' }}
        run: ${{github.workspace}}/lib/aws-sdk-cpp.sh

      - name: Configure CMake
        # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
        # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        # Build your program with the given configuration
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j $(nproc)

      - name: Test
        working-directory: ${{github.workspace}}/build
        # Execute tests defined by the CMake configuration.
        # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
        run: ctest -C ${{env.BUILD_TYPE}}
